/bin/enclave.signed.so
/enclave-runtime/enclave.so
/enclave-runtime/Enclave_t.c
/enclave-runtime/Enclave_t.h
/enclave-runtime/Enclave_t.o
/lib/libenclave.a
/lib/libEnclave_u.a
/service/Enclave_u.c
/service/Enclave_u.h
/service/Enclave_u.o
/enclave-runtime/target/
/service/target/
.idea
/bin/prov_key.bin
/target/
/service/libEnclave_u.a
/bin/ext_map.bin
/bin/minheap_source.bin
/bin/trex-keyholder
/bin/cli
/bin/ed25519_key_sealed.bin
/bin/tee_account_id.txt
/bin/rsa3072_private_key.bin
/bin/rsa3072_pub_key.bin
